In [10]:
import pandas as pd

Series de notas:
Tiago        8.0
Guilherme    9.5
Juca         6.2
dtype: float64

Nota máxima: 9.5
Nota mínima: 6.2
Média: 7.8999999999999995

Notas acima da média 7:
Tiago        8.0
Guilherme    9.5
dtype: float64

Notas abaixo da média 7:
Juca    6.2
dtype: float64

In [ ]:
# Dicionário de notas
notas = {'Tiago': 8, 'Guilherme': 9.5, 'Juca': 6.2}

In [ ]:
# Converter o dicionário de notas para uma Series do Pandas
notas_series = pd.Series(notas)

In [ ]:
# Exibir a Series
print("Series de notas:")
print(notas_series)

In [ ]:
# Calcular estatísticas básicas
nota_maxima = notas_series.max()
nota_minima = notas_series.min()
media = notas_series.mean()

In [ ]:
# Determinar quem está acima e abaixo da média 7
acima_da_media = notas_series[notas_series > 7]
abaixo_da_media = notas_series[notas_series < 7]

In [12]:
# Exibir os resultados
print(f"\nNota máxima: {nota_maxima}")
print(f"Nota mínima: {nota_minima}")
print(f"Média: {media}")
print(f"\nNotas acima da média 7:\n{acima_da_media}")
print(f"\nNotas abaixo da média 7:\n{abaixo_da_media}")

Nota máxima: 9.5
Nota mínima: 6.2
Média: 7.8999999999999995

Notas acima da média 7:
Tiago        8.0
Guilherme    9.5
dtype: float64

Notas abaixo da média 7:
Juca    6.2
dtype: float64

In [27]:
# Dicionário de notas
notas = {'Tiago': 8, 'Guilherme': 9.5, 'Juca': 6.2}

In [ ]:
# Converter o dicionário de notas para uma Series do Pandas
notas_series = pd.Series(notas)

In [ ]:
# Obter uma descrição estatística das notas
descricao = notas_series.describe()

In [29]:
# Exibir a descrição
print("Descrição estatística das notas:")
print(descricao)

Descrição estatística das notas:
count    3.000000
mean     7.900000
std      1.652271
min      6.200000
25%      7.100000
50%      8.000000
75%      8.750000
max      9.500000
dtype: float64

In [40]:
# Criar um dicionário com os livros e seus respectivos valores
livros_valores = {
    'Livro': [
        'Bullying não é bobagem!',
        'Dicionário Escolar Educação Ambiental (1)',
        'Dicionário Escolar Educação Ambiental (2)',
        'Vamos estudar ecologia',
        'Aprendendo com a natureza',
        'O verde que me cerca',
        'Lixo Poluição e Meio Ambiente'
    ],
    'Valor': [68.00, 85.00, 95.00, 68.00, 68.00, 68.00, 50.00]
}

In [42]:
# Converter o dicionário em um DataFrame do Pandas
livros_df = pd.DataFrame(livros_valores)

In [44]:
# Exibir o DataFrame
print("DataFrame de livros e valores:")
print(livros_df)

DataFrame de livros e valores:
                                       Livro  Valor
0                    Bullying não é bobagem!   68.0
1  Dicionário Escolar Educação Ambiental (1)   85.0
2  Dicionário Escolar Educação Ambiental (2)   95.0
3                     Vamos estudar ecologia   68.0
4                  Aprendendo com a natureza   68.0
5                       O verde que me cerca   68.0
6              Lixo Poluição e Meio Ambiente   50.0

In [58]:
# Listar apenas os títulos dos livros
titulos_livros = livros_df['Livro']

In [60]:
# Exibir os títulos dos livros
print("Títulos dos livros:")
print(titulos_livros)

Títulos dos livros:
0                      Bullying não é bobagem!
1    Dicionário Escolar Educação Ambiental (1)
2    Dicionário Escolar Educação Ambiental (2)
3                       Vamos estudar ecologia
4                    Aprendendo com a natureza
5                         O verde que me cerca
6                Lixo Poluição e Meio Ambiente
Name: Livro, dtype: object

In [66]:
# Criar um dicionário com os livros e seus respectivos valores
livros_valores = {
    'Livro': [
        'Bullying não é bobagem!',
        'Dicionário Escolar Educação Ambiental (1)',
        'Dicionário Escolar Educação Ambiental (2)',
        'Vamos estudar ecologia',
        'Aprendendo com a natureza',
        'O verde que me cerca',
        'Lixo Poluição e Meio Ambiente'
    ],
    'Valor': [68.00, 85.00, 95.00, 68.00, 68.00, 68.00, 50.00]
}

In [68]:
# Converter o dicionário em um DataFrame do Pandas
livros_df = pd.DataFrame(livros_valores)

In [70]:
# Filtrar livros com valores iguais
valores_duplicados = livros_df[livros_df.duplicated('Valor', keep=False)]

In [72]:
# Exibir os livros com valores iguais
print("Livros com valores iguais:")
print(valores_duplicados)

Livros com valores iguais:
                       Livro  Valor
0    Bullying não é bobagem!   68.0
3     Vamos estudar ecologia   68.0
4  Aprendendo com a natureza   68.0
5       O verde que me cerca   68.0

In [82]:
# Adicionar o novo livro ao DataFrame usando loc
livros_df.loc[len(livros_df)] = ['QUE COISA ESTRANHA', 25.00]

In [84]:
# Exibir o DataFrame atualizado
print("DataFrame atualizado com o novo livro (usando append):")
print(livros_df)

DataFrame atualizado com o novo livro (usando append):
                                       Livro  Valor
0                    Bullying não é bobagem!   68.0
1  Dicionário Escolar Educação Ambiental (1)   85.0
2  Dicionário Escolar Educação Ambiental (2)   95.0
3                     Vamos estudar ecologia   68.0
4                  Aprendendo com a natureza   68.0
5                       O verde que me cerca   68.0
6              Lixo Poluição e Meio Ambiente   50.0
7                         QUE COISA ESTRANHA   25.0